//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Space Grotesk', sans-serif;

// Color

$Primary-Gra: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$Primary-Red: hsl(0, 100%, 66%);
$Neutral-White: hsl(0, 0%, 100%);
$Neutral-Light-Grayish-Violet: hsl(270, 3%, 87%);
$Neutral-Dark-Grayish-Violet: hsl(279, 6%, 55%);
$Neutral-Very-Dark-Violet: hsl(278, 68%, 11%);
